<header role="banner">
    <div class="header-title">
        <a class="logo-link" href="/clinics">
            <img src="/kidney.svg" class="logo" alt="Nephrology Nexus Logo">
            <span class="title-span">Nephrology Nexus</span>
        </a>
    </div>
    <nav class="header-nav" role="navigation">
        <% if (user) { %>
            <p class="username-p"><%= user.username %></p>
            <a class="logout-link" href="/users/logout">Logout</a>
        <% } %>
    </nav>
</header>