<header>
    <nav>
        <h1 class="header-h1">Nephrology Nexus</h1>
        <% if (user) { %>
            <ul class="main-menu">
                <%= user.username %>
                <a href="/users/logout">Logout</a>
            </ul>
        <% } %>
    </nav>
</header>