<header>
    <img src="/kidney.svg" class="logo" alt="Nephrology Nexus Logo">
    <nav class="header-nav">
        <% if (user) { %>
            <span><%= user.username %></span>
            <div><a class="logout-link" href="/users/logout">Logout</a></div>
        <% } %>
    </nav>
</header>