<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="create-patient-container">
            <span class="create-patient-header"><%- include ../layouts/header.ejs %></span>
            <main class="create-patient-main">
                <%- include _form %>
            </main>
            <span class="create-patient-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>