<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="update-patient-container">
            <span class="update-patient-header"><%- include ../layouts/header.ejs %></span>
            <main class="update-patient-main">
                <%- include _form %>
            </main>
            <span class="update-patient-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>