<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <%- include ../layouts/header.ejs %>
        <main>
            <h1>Update Patient</h1>
            <%- include _form %>
        </main>
        <%- include ../layouts/footer.ejs %>
    </body>
</html>