<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="create-lab-results-container">
            <span class="create-lab-results-header"><%- include ../layouts/header.ejs %></span>
            <main class="create-lab-results-main" role="main">
                <%- include _form %>
            </main>
            <span class="create-lab-results-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>