* {
    background-color: #f2f0eb;
    /* color: #950740; */
    /* color: #4E66B7; */
    /* color: #1B7B34; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    margin-bottom: 0.5em;
}

.login-main, .registration-main {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
}

footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 0.8em;
}

.user-login-form, .user-registration-form {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    font-size: 0.9em;
}

.title {
    grid-area: title;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    color: #545149;
}

.login-container, .registration-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "title title title"
        ". main ."
        "footer footer footer";
    justify-items: stretch;
}

h1, h2 {
    margin-top: 1.5em;
    text-align: center;
}

.login-logo, .register-logo {
    display: block;
    height: 5em;
    width: 100%;
}

.header-h2 {
    text-align: center;

}

fieldset {
    border: none;
}

.login-requirements, .registration-requirements {
    border: 0;
    margin: 0 auto;
    padding: 0;
}

.login-username-label, .login-password-label, .registration-first-name-label, .registration-last-name-label, .registration-username-label,
    .registration-password-label {
    display: block;
    margin-bottom: 0.2em;
}

.login-password-label, .registration-last-name-label, .registration-username-label, .registration-password-label {
    margin-top: 1.5em;
}

input {
    display: block;
    width: 100%;
}

.login-submit-button, .registration-submit-button {
    margin-top: 1.5em;
    display: block;
    width: 100%;
    padding: 0;
}

.register-p, .login-p {
    font-size: 0.8em;
    text-align: center;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-left: 0.5em;
}

.clinics-index-main,  .clinics-show-main, .patients-index-main {
    grid-area: main;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: fourth-line;
}

.clinics-index-container, .clinics-show-container, .patients-index-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 50% [line2] 50% [last];
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [last-line];
    grid-template-areas:
        "header header"
        "breadcrumbs breadcrumbs"
        "main main"
        "footer footer";
}

.logo {
    height: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

.header-nav {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}

.logout-link {
    float: right;
}

.clinics-index-footer, .clinics-show-footer, .patients-index-footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fourth-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 0.8em;
}

.clinic-list, .patient-list {
    text-align: center;
    padding: 0;
    list-style: none;
}

.fa-edit {
    float: left;
    font-size: 1em;
    margin-left: 1em;
    text-decoration: none;
    border: 2px solid blue;
    padding: 0.2em;
    border-radius: 0.5em;
    color: inherit;
    background-color: red;
}

.fa-trash-alt {
    float: left;
    font-size: 1em;
    text-decoration: none;
    border: 2px solid blue;
    padding: 0.2em;
    border-radius: 0.5em;
    color: inherit;
    background-color: red;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.fa-arrow-right {
    float: right;
    margin-right: 1em;
    font-size: 1em;
    text-decoration: none;
    border: 2px solid blue;
    padding: 0.2em;
    border-radius: 0.5em;
    color: inherit;
    background-color: red;
}

.create-clinic-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "create-clinic-header create-clinic-header create-clinic-header"
        "create-clinic-main create-clinic-main create-clinic-main"
        "create-clinic-footer create-clinic-footer create-clinic-footer";
}

.create-clinic-header {
    grid-area: create-clinic-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.create-clinic-main {
    grid-area: create-clinic-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.clinic-data, .clinic-address-data, .manager-data, .patient-data, .patient-address-data, .patient-phone-number-data {
    padding: 0;
    margin: 0;
}

.clinic-address-data, .patient-address-data {
    margin-bottom: 4em;
}

.manager-data {
    margin-top: 4em;
}

.clinic-name-label, .clinic-street-label, .clinic-city-label, .clinic-state-label, .clinic-zip-code-label, .clinic-phone-number-label,
    .clinic-fax-number-label, .clinic-manager-first-name-label, .clinic-manager-last-name-label {
        display: block;
        margin-bottom: 0.2em;
    }

.clinic-street-label, .clinic-city-label, .clinic-state-label, .clinic-zip-code-label, .clinic-phone-number-label, .clinic-fax-number-label,
    .clinic-manager-first-name-label, .clinic-manager-last-name-label {
        margin-top: 1em;
    }

.clinic-name-input {
    margin-bottom: 4em;
}

.clinic-address-legend {
    text-align: center;
}

.clinic-form-button {
    margin-top: 4em;
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    padding: 0;
}

.create-clinic-footer {
    grid-area: create-clinic-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
}

.clinic-info {
    text-align: center;
}

.update-clinic-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "update-clinic-header update-clinic-header update-clinic-header"
        "update-clinic-main update-clinic-main update-clinic-main"
        "update-clinic-footer update-clinic-footer update-clinic-footer";
}

.update-clinic-header {
    grid-area: update-clinic-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.update-clinic-main {
    grid-area: update-clinic-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}



.update-clinic-footer {
    grid-area: update-clinic-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
}

.patient-icon {
    display: block;
    margin: 0 auto;
}

.patient-link {
    text-decoration: none;
}

.create-patient-link {
    text-align: center;
}

.fa-plus-square {
    font-size: 1em;
    text-decoration: none;
    border: 2px solid blue;
    padding: 0.2em;
    border-radius: 0.5em;
    color: inherit;
    background-color: red;
}

.create-patient-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "create-patient-header create-patient-header create-patient-header"
        "create-patient-main create-patient-main create-patient-main"
        "create-patient-footer create-patient-footer create-patient-footer";
}

.create-patient-header {
    grid-area: create-patient-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.create-patient-main {
    grid-area: create-patient-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.patient-address-data {
    margin-top: 4em;
}

.patient-first-name-label, .patient-last-name-label, .patient-dob-label, .patient-gender-label, .patient-ssn-label, .patient-street-label,
    .patient-city-label, .patient-state-label, .patient-zip-code-label, .patient-home-phone-label, .patient-cell-phone-label, .patient-work-phone-label {
        display: block;
        margin-bottom: 0.2em;
    }

.patient-last-name-label, .patient-dob-label, .patient-gender-label, .patient-ssn-label, .patient-street-label, .patient-city-label,
    .patient-state-label, .patient-zip-code-label, .patient-home-phone-label, .patient-cell-phone-label, .patient-work-phone-label {
        margin-top: 1em;
    }

.patient-address-legend, .patient-phone-numbers-legend {
    text-align: center;
}    

.patient-form-button {
    margin-top: 4em;
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    padding: 0;
}

.create-patient-footer {
    grid-area: create-patient-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
}

.update-patient-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "update-patient-header update-patient-header update-patient-header"
        "update-patient-main update-patient-main update-patient-main"
        "update-patient-footer update-patient-footer update-patient-footer";
}

.update-patient-header {
    grid-area: update-patient-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.update-patient-main {
    grid-area: update-patient-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.update-patient-footer {
    grid-area: update-patient-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
}



@media only screen and (min-width: 375px) {

    .login-main, .registration-main {
        justify-self: center;
    }
    
    input {
        display: block;
        width: 100%;
    }
}