* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    grid-area: header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    justify-self: start;
}

.login-main, .registration-main {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
}

footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 0.8em;
    align-self: end;
}

.user-login-form, .user-registration-form {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    font-size: 0.9em;
}

.login-container, .registration-container {
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] 2fr [row1-end] 60% [third-line] 1fr [last-line];
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
    justify-items: stretch;
}

h1 {
    text-align: center;
}

fieldset {
    border: none;
}

.login-requirements, .registration-requirements {
    border: 0;
    margin: 0 auto;
    padding: 0;
}

.login-username-label, .login-password-label, .registration-first-name-label, .registration-last-name-label, .registration-username-label,
    .registration-password-label {
    display: block;
    margin-bottom: 1%
}

.login-password-label, .registration-last-name-label, .registration-username-label, .registration-password-label {
    margin-top: 10%;
}

.login-username-input, .login-password-input, .registration-first-name-input, .registration-last-name-input, .registration-username-input,
    .registration-password-input {
    display: block;
    width: 100%;
}

.login-submit-button, .registration-submit-button {
    margin-top: 10%;
    display: block;
    width: 100%;
    padding: 0;
}

.register-p, .login-p {
    font-size: 0.8em;
    text-align: center;
}

.clinics-index-main {
    grid-area: clinics-index-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: third-line;
    grid-row-end: fourth-line;
}

.clinics-index-container {
    display: grid;
    grid-template-columns: [first] 20% [line2] 60% [line3] 20% [last];
    grid-template-rows: [row1-start] 1fr [row1-end] 0.25fr[third-line] 2.5fr [fourth-line] 0.25fr [last-line];
    grid-template-areas:
        "header header header"
        "breadcrumbs breadcrumbs breadcrumbs"
        ". clinics-index-main ."
        "footer footer footer"
}

.clinics-index-footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fourth-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 0.8em;
    align-self: end;
}

@media only screen and (min-width: 375px) {

    .login-main, .registration-main {
        justify-self: center;
    }
    
    input {
        display: block;
        width: 100%;
    }
}