* {
    font-family: 'Philosopher', sans-serif;
    background-color: #F2F0EB;
    color: #545149;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

label {
    color: #545149;
    font-size: 1em;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    border: 1.5px solid #68665A;
    padding: 0.4em;
    border-radius: 4px 4px;
    font-size: 0.9em;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none;
    background-color: #CCE6FF;
    color: #545149;
}

header {
    grid-area: header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
    height: 70px;
}

a {
    text-decoration: none;
    color: #4056A1;
}

.login-main, .registration-main {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
}

main {
    margin-bottom: 4em;
}

footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
    font-style: italic;
}

.message-div, .success-message-div, .error-message-div {
    text-align: center;
    margin-bottom: 2em;
}

.message-p, .success-message-p, .error-message-p {
    color: #83190A;
    font-weight: bold;
}

.user-login-form, .user-registration-form {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
}

.title {
    grid-area: title;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.create-clinic-span, .create-patient-span, .create-lab-results-span, .update-clinic-span, .update-patient-span, .update-lab-results-span,
    .delete-clinic-span, .delete-patient-span, .delete-lab-results-span {
        background-color: #1B7B34;
        color: #F2F0EB;
        vertical-align: middle;
}

.clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1, .sex-span-1, .dob-span-1, .ssn-span-1, .wbc-span-1,
    .rbc-span-1, .hemoglobin-span-1, .hematocrit-span-1, .platelet-count-span-1, .bun-span-1, .creatinine-span-1, .sodium-span-1,.potassium-span-1,
    .calcium-span-1, .phosphorus-span-1, .albumin-span-1, .glucose-span-1, .iron-span-1, .cholesterol-span-1, .triglycerides-span-1 {
        font-weight: bold;
}

.clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1{
    float: left;
    margin-left: 0.5em;
}

.clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
    float: right;
    margin-right: 0.5em;
}

.sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
    float: left;
    margin-left: 3em;
}

.insurance-span-1 {
    float: left;
    margin-left: 2em;
}

.insurance-span-2-container, .insurance-span-2 {
    float: right;
    margin-right: 2em;
}

.sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
    float: right;
    margin-right: 3em;
}

.home-phone-span-1, .cell-phone-span-1, .work-phone-span-1, .insurance-span-1 {
    font-weight: bold;
}

.login-container, .registration-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "title title title"
        ". main ."
        "footer footer footer";
    justify-items: stretch;
}

h1, h2 {
    margin-top: 1.5em;
    text-align: center;
}

h1 {
    font-style: italic;
}

h3 {
    font-size: 1.3em;
    text-align: center;
}

.login-logo, .register-logo {
    display: block;
    height: 5em;
    width: 100%;
}

.header-h2 {
    text-align: center;

}

fieldset {
    border: none;
}

.login-requirements, .registration-requirements {
    border: 0;
    margin: 0 auto;
    padding: 0;
}

.login-username-label, .login-password-label, .registration-first-name-label, .registration-last-name-label, .registration-username-label,
    .registration-password-label {
    display: block;
    margin-bottom: 0.2em;
}

.login-password-label, .registration-last-name-label, .registration-username-label, .registration-password-label {
    margin-top: 1.5em;
}

.login-submit-button, .registration-submit-button {
    margin-top: 1.5em;
    display: block;
    width: 100%;
    padding: 0.4em;
    background-color: #1B7B34;
    color: #f2f0eb;
    border: 1.5px solid #1B7B34;
    box-shadow: 2px 2px grey;
    font-size: 1em;
    border-radius: 4px 4px;
}

.register-p, .login-p {
    font-size: 1em;
    text-align: center;
}

.login-link:hover, .register-link:hover {
    text-decoration: underline;
}

.breadcrumbs {
    grid-area: breadcrumbs;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-left: 0.5em;
    font-size: 0.8em;
}

.breadcrumbs-clinics-link:hover, .breadcrumbs-clinic-link:hover, .breadcrumbs-patients-link:hover, .breadcrumbs-patient-link:hover,
    .breadcrumbs-lab-results-link:hover {
    text-decoration: underline;
}

.clinics-show-header, .clinics-index-header, .patients-index-header, .lab-results-index-header  {
    grid-area: header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    margin-bottom: 0.5em;
    background-color: #DDD5CA;
}

.clinics-index-main,  .clinics-show-main, .patients-index-main, .lab-results-index-main {
    grid-area: main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: third-line;
    grid-row-end: fourth-line;
}

.clinics-index-container, .clinics-show-container, .patients-index-container, .lab-results-index-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 0fr [line2] 1fr [line3] 0fr [last];
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [last-line];
    grid-template-areas:
        "header header"
        "breadcrumbs breadcrumbs"
        "main main"
        "footer footer";
}

.header-title {
    background-color: #DDD5CA;
    display: inline-block;
    padding-top: 10px;
}

.logo {
    height: 50px;
    margin-left: 1em;
    background-color: #DDD5CA;
}

.title-span  {
    display: none;
    font-weight: bold;
    background-color: #DDD5CA;
}

.header-nav {
    position: absolute;
    right: 1em;
    top: 17.4px;
    font-size: 1em;
    background-color: #DDD5CA;
}

.username-p {
    background-color: #DDD5CA;
    margin: 0;
}

.logout-link {
    float: right;
    background-color: #DDD5CA;
}

.logout-link:hover {
    text-decoration: underline;
}

.clinics-index-footer, .clinics-show-footer, .patients-index-footer, .lab-results-index-footer {
    grid-area: footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fourth-line;
    grid-row-end: last-line;
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

.clinic-list, .patient-list, .lab-results-list {
    text-align: center;
    padding: 0;
    list-style: none;
}

.clinic-list-item, .patient-list-item, .lab-results-list-item {
    margin-top: 1em;
}

.clinic-link {
    text-decoration: none;
}

.clinic-link:hover {
    text-decoration: underline;
}

.fa-edit {
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;
    font-size: 1em;
    margin-left: 1em;
    text-decoration: none;
    box-shadow: 2px 2px gray;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #f2f0eb;
    background-color: #1B7B34;
}

.fa-edit:before {
    vertical-align: middle;
}

.fa-trash-alt {
    float: left;
    margin-left: 1.5em;
    margin-top: 1em;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 2px 2px gray;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #f2f0eb;
    background-color: #1B7B34;
    border: none;
}

.fa-trash-alt:before {
    vertical-align: middle;
}

.fa-trash-alt:hover {
    cursor: pointer;
}

.clinic-address-div {
    margin-top: 4em;
    margin-bottom: 2em;
}

.go-to-patients-div, .go-to-lab-results-div {
    margin-top: 6em;
    text-align: center;
}

.go-to-patients-link, .go-to-lab-results-link {
    text-decoration: none;
}

.go-to-patients-link:hover, .go-to-lab-results-link:hover {
    text-decoration: underline;
}

.fa-arrow-right {
    font-size: 1em;
    color: #4056A1;
    margin-top: 2em;
}

.create-clinic-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "create-clinic-header create-clinic-header create-clinic-header"
        "create-clinic-main create-clinic-main create-clinic-main"
        "create-clinic-footer create-clinic-footer create-clinic-footer";
}

.create-clinic-header {
    grid-area: create-clinic-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.clinics-h1 {
    margin-top: -1em;
    text-decoration: underline;
}

.patients-h1 {
    margin-top: 0;
    text-decoration: underline;
}

.lab-results-h1 {
    margin-top: 0;
    text-decoration: underline;
}

.clinic-icon {
    display: block;
    height: 11em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.patient-icon {
    display: block;
    height: 8em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.lab-results-icon {
    display: block;
    height: 9em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.create-clinic-main {
    grid-area: create-clinic-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.clinic-data, .clinic-address-data, .manager-data, .patient-data, .patient-address-data, .patient-phone-number-data,
    .patient-primary-insurance-data, .patient-secondary-insurance-data {
    padding: 0;
    margin: 0;
}

.clinic-address-data, .patient-address-data, .patient-phone-number-data, .patient-primary-insurance-data {
    margin-bottom: 4em;
}

.manager-data {
    margin-top: 4em;
}

.clinic-name-label, .clinic-street-label, .clinic-city-label, .clinic-state-label, .clinic-zip-code-label, .clinic-phone-number-label,
    .clinic-fax-number-label, .clinic-manager-first-name-label, .clinic-manager-last-name-label {
        display: block;
        margin-bottom: 0.2em;
}

.clinic-street-label, .clinic-city-label, .clinic-state-label, .clinic-zip-code-label, .clinic-phone-number-label, .clinic-fax-number-label,
    .clinic-manager-first-name-label, .clinic-manager-last-name-label {
        margin-top: 1em;
}

.clinic-name-input {
    margin-bottom: 4em;
}

.clinic-address-legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clinic-form-button {
    margin-top: 4em;
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    padding: 0.4em;
    background-color: #1B7B34;
    color: #f2f0eb;
    border: 1.5px solid #1B7B34;
    box-shadow: 2px 2px grey;
    font-size: 1em;
    border-radius: 4px 4px;
}

.create-clinic-footer {
    grid-area: create-clinic-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.clinic-info {
    text-align: center;
}

.update-clinic-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "update-clinic-header update-clinic-header update-clinic-header"
        "update-clinic-main update-clinic-main update-clinic-main"
        "update-clinic-footer update-clinic-footer update-clinic-footer";
}

.update-clinic-header {
    grid-area: update-clinic-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.update-clinic-main {
    grid-area: update-clinic-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}



.update-clinic-footer {
    grid-area: update-clinic-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.patient-link, .lab-results-link {
    text-decoration: none;
}

.patient-link:hover, .lab-results-link:hover {
    text-decoration: underline;
}

.create-clinic-link, .create-patient-link, .create-lab-results-link {
    text-align: center;
    margin-bottom: 0.25em;
}

.fa-plus-square {
    margin-top: 2em;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 2px 2px gray;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #f2f0eb;
    background-color: #1B7B34;
}

.fa-plus-square:before {
    vertical-align: middle;
}

.create-patient-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "create-patient-header create-patient-header create-patient-header"
        "create-patient-main create-patient-main create-patient-main"
        "create-patient-footer create-patient-footer create-patient-footer";
}

.create-patient-header {
    grid-area: create-patient-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.create-patient-main {
    grid-area: create-patient-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.patient-address-data {
    margin-top: 4em;
}

.patient-first-name-label, .patient-last-name-label, .patient-dob-label, .patient-sex-label, .patient-ssn-label, .patient-street-label,
    .patient-city-label, .patient-state-label, .patient-zip-code-label, .patient-home-phone-label, .patient-cell-phone-label, 
    .patient-work-phone-label, .patient-username-label, .patient-password-label, .patient-insurance-company-label, 
    .patient-insurance-first-name-label, .patient-insurance-last-name-label, .patient-insurance-policy-number-label,
    .patient-insurance-dob-label, .patient-insurance-ssn-label {
        display: block;
        margin-bottom: 0.2em;
}

.patient-last-name-label, .patient-dob-label, .patient-sex-label, .patient-ssn-label, .patient-street-label, .patient-city-label,
    .patient-state-label, .patient-zip-code-label, .patient-home-phone-label, .patient-cell-phone-label, .patient-work-phone-label,
    .patient-username-label, .patient-password-label, .patient-insurance-company-label, .patient-insurance-first-name-label, 
    .patient-insurance-last-name-label, .patient-insurance-policy-number-label, .patient-insurance-dob-label, .patient-insurance-ssn-label {
        margin-top: 1em;
}

.patient-address-legend, .patient-phone-numbers-legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.patient-address-header, .patient-phone-numbers-header, .hematology-header, .chemistry-header, .clinic-address-header,
    .patient-primary-insurance-header, .patient-secondary-insurance-header {
    margin-top: 2em;
    text-decoration: underline;
}

.patient-form-button {
    margin-top: 4em;
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    padding: 0.4em;
    background-color: #1B7B34;
    color: #f2f0eb;
    border: 1.5px solid #1B7B34;
    box-shadow: 2px 2px grey;
    font-size: 1em;
    border-radius: 4px 4px;
}

.create-patient-footer {
    grid-area: create-patient-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.update-patient-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 4fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "update-patient-header update-patient-header update-patient-header"
        "update-patient-main update-patient-main update-patient-main"
        "update-patient-footer update-patient-footer update-patient-footer";
}

.update-patient-header {
    grid-area: update-patient-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.update-patient-main {
    grid-area: update-patient-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.update-patient-footer {
    grid-area: update-patient-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.patient-information {
    text-align: center;
}

.patients-show-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] auto [line2] auto [last];
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [fourth-line] 1fr [fifth-line] auto [last-line];
    grid-template-areas:
        "patients-show-header patients-show-header"
        "patient-name patient-name"
        "patients-show-main patients-show-main"
        "patients-show-footer patients-show-footer";
}

.patients-show-header {
    grid-area: patients-show-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    margin-bottom: 0.5em;
    background-color: #DDD5CA;
}

.patient-name {
    grid-area: patient-name;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: fourth-line;
}

.patients-show-main {
    grid-area: patients-show-main;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fourth-line;
    grid-row-end: fifth-line;
}

.patients-show-footer {
    grid-area: patients-show-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fifth-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.lab-results-show-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 0.5fr [line2] 3fr [line3] 0.5fr [last];
    grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
    grid-template-areas:
        "lab-results-show-header lab-results-show-header lab-results-show-header"
        ". lab-results-show-main ."
        "delete-and-update-div delete-and-update-div delete-and-update-div"
        "patients-show-footer patients-show-footer patients-show-footer";
}

.lab-results-show-header {
    grid-area: lab-results-show-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    margin-bottom: 0.5em;
    background-color: #DDD5CA;
}

.lab-results-show-main {
    grid-area: lab-results-show-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: third-line;
    grid-row-end: fourth-line;
    margin-bottom: 0;
}

.lab-results-delete-and-update-div {
    grid-area: delete-and-update-div;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fourth-line;
    grid-row-end: fifth-line;
    margin-bottom: 4em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.lab-results-show-footer {
    grid-area: lab-results-show-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: fifth-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.hematology, .chemistry {
    text-align: center;
}

.wbc-span-1, .rbc-span-1, .hemoglobin-span-1, .hematocrit-span-1, .platelet-count-span-1, .bun-span-1, .creatinine-span-1, .sodium-span-1,
    .potassium-span-1, .calcium-span-1, .phosphorus-span-1, .albumin-span-1, .glucose-span-1, .iron-span-1, .cholesterol-span-1, .triglycerides-span-1 {
        float: left;
}

.wbc-span-2, .rbc-span-2, .hemoglobin-span-2, .hematocrit-span-2, .platelet-count-span-2, .bun-span-2, .creatinine-span-2, .sodium-span-2,
    .potassium-span-2, .calcium-span-2, .phosphorus-span-2, .albumin-span-2, .glucose-span-2, .iron-span-2, .cholesterol-span-2, .triglycerides-span-2 {
        float: right;
        font-weight: bold;
}

.wbc-span-3, .rbc-span-3, .hemoglobin-span-3, .hematocrit-span-3, .platelet-count-span-3, .bun-span-3, .creatinine-span-3, .sodium-span-3,
    .potassium-span-3, .calcium-span-3, .phosphorus-span-3, .albumin-span-3, .glucose-span-3, .iron-span-3, .cholesterol-span-3, .triglycerides-span-3 {
        color: #83190A;
        font-weight: 100;
}

.create-lab-results-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "create-lab-results-header create-lab-results-header create-lab-results-header"
        "create-lab-results-main create-lab-results-main create-lab-results-main"
        "create-lab-results-footer create-lab-results-footer create-lab-results-footer";
}

.create-lab-results-header {
    grid-area: create-lab-results-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.create-lab-results-main {
    grid-area: create-lab-results-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.draw-date-label, .wbc-count-label, .rbc-count-label, .hemoglobin-label, .hematocrit-label, .platelet-count-label, .bun-label, .creatinine-label,
    .sodium-label, .potassium-label, .calcium-label, .phosphorus-label, .albumin-label, .glucose-label, .iron-label, .cholesterol-label,
    .triglycerides-label {
        display: block;
        margin-bottom: 0.2em;
}

.wbc-count-label, .rbc-count-label, .hemoglobin-label, .hematocrit-label, .platelet-count-label, .bun-label, .creatinine-label, .sodium-label,
    .potassium-label, .calcium-label, .phosphorus-label, .albumin-label, .glucose-label, .iron-label, .cholesterol-label, .triglycerides-label {
         margin-top: 1em;
    }

.lab-results-data, .hematology-data, .chemistry-data {
    padding: 0;
    margin: 0;
}

.hematology-legend, .chemistry-legend {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hematology-data, .chemistry-data {
    margin-top: 4em;
}

.lab-results-form-button {
    margin-top: 4em;
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    padding: 0.4em;
    background-color: #1B7B34;
    color: #f2f0eb;
    border: 1.5px solid #1B7B34;
    box-shadow: 2px 2px grey;
    font-size: 1em;
    border-radius: 4px 4px;
}

.create-lab-results-footer {
    grid-area: create-lab-results-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.update-lab-results-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [last];
    grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
    grid-template-areas:
        "update-lab-results-header update-lab-results-header update-lab-results-header"
        "update-lab-results-main update-lab-results-main update-lab-results-main"
        "update-lab-results-footer update-lab-results-footer update-lab-results-footer";
}

.update-lab-results-header {
    grid-area: update-lab-results-header;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    background-color: #DDD5CA;
}

.update-lab-results-main {
    grid-area: update-lab-results-main;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    margin-top: 2em;
}

.update-lab-results-footer {
    grid-area: update-lab-results-footer;
    grid-column-start: first;
    grid-column-end: last;
    grid-row-start: third-line;
    grid-row-end: last-line;
    font-size: 1em;
    padding: 1em;
}

.demo {
    text-align: center;
    font-size: 1em;
}

.demo-span {
    color: #83190A;
}

.logo-link {
    background-color: #DDD5CA;
}

.button-container {
    padding-top: 1.5em;
}

@media only screen and (min-width: 375px) {
    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 3fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .clinics-index-container, .clinics-show-container, .patients-index-container, .lab-results-index-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.25fr [line2] 4.5fr [line3] 0.25fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [last-line];
        grid-template-areas:
            "header header"
            "breadcrumbs breadcrumbs"
            "main main"
            "footer footer";
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        float: left;
        margin-left: 0.15em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        float: right;
        margin-right: 0.15em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        float: left;
        margin-left: 3.5em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        float: right;
        margin-right: 3.5em;
    }

    .patients-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.5fr [line2] 4fr [line3] 0.5fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] auto [fourth-line] 1fr [fifth-line] auto [last-line];
        grid-template-areas:
            "patients-show-header patients-show-header patients-show-header"
            "patient-name patient-name patient-name"
            ". patients-show-main ."
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .patients-show-main {
        grid-area: patients-show-main;
        grid-column-start: line2;
        grid-column-end: line3;
        grid-row-start: fourth-line;
        grid-row-end: fifth-line;
    }

    .login-main, .registration-main {
        justify-self: center;
    }
    
    input {
        display: block;
        width: 100%;
    }

    .create-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.7fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-clinic-header create-clinic-header create-clinic-header"
            "create-clinic-main create-clinic-main create-clinic-main"
            "create-clinic-footer create-clinic-footer create-clinic-footer";
    }

    .update-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.7fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-clinic-header update-clinic-header update-clinic-header"
            "update-clinic-main update-clinic-main update-clinic-main"
            "update-clinic-footer update-clinic-footer update-clinic-footer";
    }

    .create-patient-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.7fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-patient-header create-patient-header create-patient-header"
            "create-patient-main create-patient-main create-patient-main"
            "create-patient-footer create-patient-footer create-patient-footer";
    }

    .update-patient-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.7fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-patient-header update-patient-header update-patient-header"
            "update-patient-main update-patient-main update-patient-main"
            "update-patient-footer update-patient-footer update-patient-footer";
    }

    .create-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1.5fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-lab-results-header create-lab-results-header create-lab-results-header"
            "create-lab-results-main create-lab-results-main create-lab-results-main"
            "create-lab-results-footer create-lab-results-footer create-lab-results-footer";
    }

    .update-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1.5fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-lab-results-header update-lab-results-header update-lab-results-header"
            "update-lab-results-main update-lab-results-main update-lab-results-main"
            "update-lab-results-footer update-lab-results-footer update-lab-results-footer";
    }

    .fa-trash-alt {
        margin-left: 0.9em;
    }

    .fa-edit {
        margin-right: 0.9em;
    }

    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.5fr [line2] 1.8fr [line3] 0.5fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .lab-results-delete-and-update-div {
        margin-left: 2.5em;
        margin-right: 2.5em;
    }

    .insurance-span-1 {
        margin-left: 1em;
    }
    
    .insurance-span-2-container, .insurance-span-2 {
        margin-right: 1em;
    }
}

@media only screen and (min-width: 425px) {
    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 3fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .clinics-index-container, .clinics-show-container, .patients-index-container, .lab-results-index-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.25fr [line2] 2fr [line3] 0.25fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [last-line];
        grid-template-areas:
            "header header"
            "breadcrumbs breadcrumbs"
            "main main"
            "footer footer";
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        float: left;
        margin-left: 0.25em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        float: right;
        margin-right: 0.25em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        float: left;
        margin-left: 4.75em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        float: right;
        margin-right: 4.75em;
    }

    .fa-trash-alt {
        margin-left: 2em;
    }

    .fa-edit {
        margin-right: 2em;
    }

    .create-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-clinic-header create-clinic-header create-clinic-header"
            "create-clinic-main create-clinic-main create-clinic-main"
            "create-clinic-footer create-clinic-footer create-clinic-footer";
    }

    .update-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-clinic-header update-clinic-header update-clinic-header"
            "update-clinic-main update-clinic-main update-clinic-main"
            "update-clinic-footer update-clinic-footer update-clinic-footer";
    }

    .create-patient-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-patient-header create-patient-header create-patient-header"
            "create-patient-main create-patient-main create-patient-main"
            "create-patient-footer create-patient-footer create-patient-footer";
    }

    .update-patient-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 2.1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-patient-header update-patient-header update-patient-header"
            "update-patient-main update-patient-main update-patient-main"
            "update-patient-footer update-patient-footer update-patient-footer";
    }

    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.5fr [line2] 1.4fr [line3] 0.5fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .lab-results-delete-and-update-div {
        margin-left: 2.7em;
        margin-right: 2.7em;
    }

    .create-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1.6fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-lab-results-header create-lab-results-header create-lab-results-header"
            "create-lab-results-main create-lab-results-main create-lab-results-main"
            "create-lab-results-footer create-lab-results-footer create-lab-results-footer";
    }

    .update-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1.6fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-lab-results-header update-lab-results-header update-lab-results-header"
            "update-lab-results-main update-lab-results-main update-lab-results-main"
            "update-lab-results-footer update-lab-results-footer update-lab-results-footer";
    }
}

@media only screen and (min-width: 768px) {
    header {
        height: 80px
    }

    .message-p, .success-message-p, .error-message-p {
        font-size: 1.1em;
    }

    .header-title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.6em;
        font-style: italic;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .logo {
        vertical-align: middle;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .header-nav {
        font-size: 1.1em;
        top: 20px;
    }

    .login-requirements, .registration-requirements {
        font-size: 1.2em;
    }

    .login-submit-button, .registration-submit-button, .patient-form-button, .clinic-form-button, .lab-results-form-button {
        font-size: 1.2em;
    }

    .register-p {
        font-size: 1.2em;
    }

    .login-p {
        font-size: 1.2em;
    }

    .title-span {
        display: inline-block;
        vertical-align: middle;
    }

    h1 {
        font-size: 2.5em;
    }

    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1.4fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .title {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }

    .breadcrumbs {
        margin-top: 0.5em;
        font-size: 0.85em;
    }

    .clinics-h1 {
        margin-top: -0.5em;
        font-size: 2.5em;
    }

    .clinic-list-item, .patient-list-item, .lab-results-list-item {
        font-size: 1.2em;
    }

    .fa-plus-square {
        font-size: 1.2em;
    }

    .fa-edit, .fa-trash-alt {
        font-size: 1.2em;
    }

    .clinic-info {
        font-size: 1.2em;
    }

    .go-to-patients-link, .go-to-lab-results-link {
        font-size: 1.2em;
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        margin-left: 5.5em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        margin-right: 5.5em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        margin-left: 10em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        margin-right: 10em;
    }

    .insurance-span-1 {
        margin-left: 6em;
        font-size: 1.2em;
    }
    
    .insurance-span-2-container, .insurance-span-2 {
        margin-right: 6em;
        font-size: 1.2em;
    }

    .patient-address-p-1, .patient-address-p-2 {
        font-size: 1.2em;
    }

    .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        font-size: 1.2em;
    }

    .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        font-size: 1.2em;
    }
    
    .create-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-clinic-header create-clinic-header create-clinic-header"
            "create-clinic-main create-clinic-main create-clinic-main"
            "create-clinic-footer create-clinic-footer create-clinic-footer";
    }

    .update-clinic-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-clinic-header update-clinic-header update-clinic-header"
            "update-clinic-main update-clinic-main update-clinic-main"
            "update-clinic-footer update-clinic-footer update-clinic-footer";
    }

    .grid-md-2 {
        display: grid;
        grid-column-start: first;
        grid-column-end: last;
        column-gap: 4em;
        padding: 0 5em;
        font-size: 1.2em
    }

    legend, .hematology-header, .chemistry-header {
        font-size: 1.7em;
    }

    .patient-dob-input, .patient-insurance-dob-input {
        padding: 0.2em;
    }

    .box-md-col-1 {
        grid-column-end: line2;
    }

    .box-md-col-2 {
        grid-column-start: line2;
        grid-column-end: last;
    }

    .create-clinic-main {
        grid-area: create-clinic-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .update-clinic-main {
        grid-area: update-clinic-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .clinic-name-div {
        font-size: 1.2em;
        width: 32.3%;
        margin-left: auto;
        margin-right: auto;
    }

    .clinic-form-button {
        width: 32.3%;
        margin-left: auto;
        margin-right: auto;
    }

    .fa-trash-alt {
        margin-left: 7.3em;
    }

    .fa-edit {
        margin-right: 7.3em;
    }

    .create-patient-container{
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-patient-header create-patient-header create-patient-header"
            "create-patient-main create-patient-main create-patient-main"
            "create-clinic-footer create-clinic-footer create-clinic-footer";
    }

    .update-patient-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-patient-header update-patient-header update-patient-header"
            "update-patient-main update-patient-main update-patient-main"
            "update-patient-footer update-patient-footer update-patient-footer";
    }

    .create-patient-main {
        grid-area: create-patient-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .update-patient-main {
        grid-area: update-patient-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .patient-id-info {
        font-size: 1.2em;
    }

    .patient-last-name-label {
        margin-top: 0;
    }

    .patient-form-button {
        width: 32.3%;
        margin-left: auto;
        margin-right: auto;
    }

    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.5fr [line2] 0.75fr [line3] 0.5fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }



    .create-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "create-lab-results-header create-lab-results-header create-lab-results-header"
            "create-lab-results-main create-lab-results-main create-lab-results-main"
            "create-lab-results-footer create-lab-results-footer create-lab-results-footer";
    }

    .update-lab-results-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "update-lab-results-header update-lab-results-header update-lab-results-header"
            "update-lab-results-main update-lab-results-main update-lab-results-main"
            "update-lab-results-footer update-lab-results-footer update-lab-results-footer";
    }

    .grid-md-3 {
        display: grid;
        grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [last];
        grid-column-start: first;
        grid-column-end: last;
        column-gap: 2em;
        padding-left: 4em;
        padding-right: 4em;
        font-size: 1.2em
    }

    .draw-date-input {
        padding: 0.2em;
    }

    .draw-date-div {
        font-size: 1.2em;
        width: 23.2%;
        margin-left: auto;
        margin-right: auto;
    }

    .box-md-col-1 {
        grid-column-end: line2;
    }

    .box-md-col-2 {
        grid-column-start: line2;
        grid-column-end: line3;
    }

    .box-md-col-3 {
        grid-column-start: line3;
        grid-column-end: last;
    }

    .create-lab-results-main {
        grid-area: create-lab-results-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .update-lab-results-main {
        grid-area: update-lab-results-main;
        grid-column-start: first;
        grid-column-end: last;
    }

    .wbc-span-1, .rbc-span-1, .hemoglobin-span-1, .hematocrit-span-1, .platelet-count-span-1, .bun-span-1, .creatinine-span-1, .sodium-span-1,
    .potassium-span-1, .calcium-span-1, .phosphorus-span-1, .albumin-span-1, .glucose-span-1, .iron-span-1, .cholesterol-span-1, .triglycerides-span-1 {
        font-size: 1.2em;
}

.wbc-span-2, .rbc-span-2, .hemoglobin-span-2, .hematocrit-span-2, .platelet-count-span-2, .bun-span-2, .creatinine-span-2, .sodium-span-2,
    .potassium-span-2, .calcium-span-2, .phosphorus-span-2, .albumin-span-2, .glucose-span-2, .iron-span-2, .cholesterol-span-2, .triglycerides-span-2 {
        font-size: 1.2em;
}

.wbc-span-3, .rbc-span-3, .hemoglobin-span-3, .hematocrit-span-3, .platelet-count-span-3, .bun-span-3, .creatinine-span-3, .sodium-span-3,
    .potassium-span-3, .calcium-span-3, .phosphorus-span-3, .albumin-span-3, .glucose-span-3, .iron-span-3, .cholesterol-span-3, .triglycerides-span-3 {
        font-size: 1.2em;
}

    .lab-results-form-button {
        width: 23.2%;
        margin-left: auto;
        margin-right: auto;
    }

    .lab-results-delete-and-update-div {
        margin-left: 4.6em;
        margin-right: 4.6em
    }

    .patient-icon {
        height: 10em;
        margin-bottom: 1em;
    }

    .clinic-icon {
        height: 13em;
    }

    .lab-results-icon {
        height: 11em;
    }

    .demo {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px) {
    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 0.9fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .breadcrumbs {
        font-size: 0.9em;
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        float: left;
        margin-left: 10.9em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        float: right;
        margin-right: 10.9em;
    }

    .fa-trash-alt {
        margin-left: 12.6em;
    }

    .fa-edit {
        margin-right: 12.6em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        float: left;
        margin-left: 15.3em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        float: right;
        margin-right: 15.3em;
    }

    .grid-md-2 {
        display: grid;
        grid-column-start: first;
        grid-column-end: last;
        column-gap: 4em;
        padding: 0 11.7em;
    }

    .clinic-name-div {
        width: 24.2%;
    }

    .draw-date-div {
        width: 17.5%;
    }

    .grid-md-3 {
        padding-left: 10.7em;
        padding-right: 10.7em;
    }

    .clinic-form-button, .patient-form-button {
        width: 24.2%;
    }

    .lab-results-form-button {
        width: 17.5%;
    }

    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 0.75fr [line2] 0.7fr [line3] 0.75fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .lab-results-delete-and-update-div {
        margin-left: 6.2em;
        margin-right: 6.2em
    }

    .insurance-span-1 {
        margin-left: 11.3em;
    }
    
    .insurance-span-2-container, .insurance-span-2 {
        margin-right: 11.3em;
    }
}

@media only screen and (min-width: 1440px) {
    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 0.55fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        float: left;
        margin-left: 19.5em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        float: right;
        margin-right: 19.5em;
    }

    .fa-trash-alt {
        margin-left: 21.2em;
    }

    .fa-edit {
        margin-right: 21.2em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        float: left;
        margin-left: 24em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        float: right;
        margin-right: 24em;
    }

    .grid-md-2 {
        display: grid;
        grid-column-start: first;
        grid-column-end: last;
        column-gap: 4em;
        padding: 0 22.5em;
    }

    .clinic-name-div {
        width: 15.45%;
    }

    .draw-date-div {
        width: 12.38%;
    }

    .grid-md-3 {
        padding-left: 21.5em;
        padding-right: 21.5em;
    }

    .clinic-form-button, .patient-form-button {
        width: 15.45%;
    }

    .lab-results-form-button {
        width: 12.38%;
    }

    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1.15fr [line2] 0.68fr [line3] 1.15fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .lab-results-delete-and-update-div {
        margin-left: 8.8em;
        margin-right: 8.8em
    }

    .insurance-span-1 {
        margin-left: 19.9em;
    }
    
    .insurance-span-2-container, .insurance-span-2 {
        margin-right: 19.9em;
    }
}

@media only screen and (min-width: 1520px) {
    .login-container, .registration-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [line2] 0.5fr [line3] 1fr [last];
        grid-template-rows: [row1-start] auto [row1-end] 1fr [third-line] auto [last-line];
        grid-template-areas:
            "title title title"
            ". main ."
            "footer footer footer";
        justify-items: stretch;
    }

    .breadcrumbs {
        font-size: 0.88em;
    }

    .clinic-phone-number-span-1, .clinic-fax-number-span-1, .clinic-manager-span-1 {
        float: left;
        margin-left: 21.2em;
    }
    
    .clinic-phone-number-span-2, .clinic-fax-number-span-2, .clinic-manager-span-2 {
        float: right;
        margin-right: 21.2em;
    }

    .fa-trash-alt {
        margin-left: 22.9em;
    }

    .fa-edit {
        margin-right: 22.9em;
    }

    .sex-span-1, .dob-span-1, .ssn-span-1, .home-phone-span-1, .cell-phone-span-1, .work-phone-span-1 {
        float: left;
        margin-left: 25.7em;
    }

    .sex-span-2, .dob-span-2, .ssn-span-2, .home-phone-span-2, .cell-phone-span-2, .work-phone-span-2 {
        float: right;
        margin-right: 25.7em;
    }

    .grid-md-2 {
        display: grid;
        grid-column-start: first;
        grid-column-end: last;
        column-gap: 4em;
        padding: 0 25em;
    }

    .clinic-name-div {
        width: 15.8%;
    }

    .draw-date-div {
        width: 11.8%;
    }

    .grid-md-3 {
        padding-left: 23.5em;
        padding-right: 23.5em;
    }

    .clinic-form-button, .patient-form-button {
        width: 15.8%;
    }

    .lab-results-form-button {
        width: 11.8%;
    }


    .lab-results-show-container {
        min-height: 100%;
        display: grid;
        grid-template-columns: [first] 1.15fr [line2] 0.63fr [line3] 1.15fr [last];
        grid-template-rows: [row1-start] auto [row1-end] auto [third-line] 1fr [fourth-line] auto [fifth-line] auto [last-line];
        grid-template-areas:
            "lab-results-show-header lab-results-show-header lab-results-show-header"
            ". lab-results-show-main ."
            "delete-and-update-div delete-and-update-div delete-and-update-div"
            "patients-show-footer patients-show-footer patients-show-footer";
    }

    .lab-results-delete-and-update-div {
        margin-left: 9.3em;
        margin-right: 9.3em
    }

    .insurance-span-1 {
        margin-left: 21em;
    }
    
    .insurance-span-2-container, .insurance-span-2 {
        margin-right: 21em;
    }
}