<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="create-clinic-container">
            <span class="create-clinic-header"><%- include ../layouts/header.ejs %></span>
            <main class="create-clinic-main" role="main">
                <%- include _form %>
            </main>
            <span class="create-clinic-footer"><%- include ../layouts/footer.ejs %></span>
        </div>
    </body>
</html>