<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="login-container">
            <h1 class="title">Nephrology Nexus</h1>
            <main class="login-main">
                <img src="/kidney.svg" class="login-logo" alt="Nephrology Nexus Logo">
                <% if (typeof message != 'undefined' && message) { %>
                    <h2><%= message %></h2>
                <% } %>
                <form class="user-login-form" method="POST" action="/users/login">
                    <fieldset class="login-requirements" name="login-requirements">
                        <label class="login-username-label" for="username">Username</label>
                        <input class="login-username-input" type="text" id="username" name="username">

                        <label class="login-password-label" for="password">Password</label>
                        <input class="login-password-input" type="password" id="password" name="password">
                    </fieldset>

                    <button class="login-submit-button" type="submit">Login</button>
                </form>
                <p class="register-p">Don't have an account? <a href="/users/register">Register here</a></p>
            </main>
            <%- include ../layouts/footer.ejs %>
        </div>
    </body>
</html>