<!DOCTYPE html>
<html lang="en">
    <%- include ../layouts/head.ejs %>
    <body>
        <div class="registration-container">
            <h1 class="title">Nephrology Nexus</h1>
            <main class="registration-main">
                <img src="/kidney.svg" class="register-logo" alt="Nephrology Nexus Logo">
                <h3>Nephrologist Portal</h3>
                <%- include ../layouts/messages.ejs %>
                <form class="user-registration-form" method="POST" action="/users/register">
                    <fieldset class="registration-requirements" name="registration requirements">
                        <label class="registration-first-name-label" for="first-name">First Name</label>
                        <input class="registration-first-name-input" type="text" id="first-name" name="firstName">

                        <label class="registration-last-name-label" for="last-name">Last Name</label>
                        <input class="registration-last-name-input" type="text" id="last-name" name="lastName">
                
                        <label class="registration-username-label" for="username">Username</label>
                        <input class="registration-username-input" type="text" id="username" name="username">

                        <label class="registration-password-label" for="password">Password</label>
                        <input class="registration-password-input" type="password" id="password" name="password">
                    </fieldset>

                    <button class="registration-submit-button" type="submit">Register</button>
                </form>
                <p class="login-p">Already have an account? <a class="login-link" href="/users/login">Log In here</a></p>
            </main>
            <%- include ../layouts/footer.ejs %>
        </div>
    </body>
</html>